// Couleurs
$primary-color: #FF6060;
$secondary-color: #F7F7F7;
$text-color: #000000;
$white: #ffffff;
$grey: #e3e3e3;
$dark-grey: #c4c4c4;

// Typographie
$font-main: 'Montserrat', sans-serif;

// Tailles
$font-size-base: 16px;
$font-size_small: 14px;
$font-size-large: 24px;

// Espacements
$spacing_xs: 4px;
$spacing_sm: 8px;
$spacing_md: 16px;
$spacing_lg: 24px;
$spacing_xl: 32px;

// Border radius
$radius-sm: 5px;
$radius-md: 10px;
$radius-lg: 20px;