@import "../base/variables";

.error-page {
  width: $container-width;
  margin: 0 auto;
  padding: 120px 0 40px;
  text-align: center;
}

.error-title {
  font-size: 288px;
  color: $primary-color;
  margin: 0 0 80px;
  max-width: 100%;
  letter-spacing: -2px;
  line-height: 1;
}

.error-message {
  margin: 0 0 64px;
  font-size: 36px;
  color: $primary-color;
  font-weight: normal;
  max-width: 100%;
  letter-spacing: 1px;
}

.error404link {
  font-size: 18px;
  color: black;
  text-decoration: underline;
  display: inline-block;
  margin: 50px 0 50px;
  max-width: 100%;
}

@media (max-width: 768px) {
  .error-page {
    gap: 2rem;
  }

  .error-title {
    font-size: 96px;
  }
  .error-message {
    font-size: 18px;
  }
  .error404link {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .error-page {
    width: auto;
    max-width: none;
    padding: 60px 20px 40px;
  }

  .error-title {
    font-size: 96px;
    margin: 48px 0 40px;
    letter-spacing: -1px;
  }

  .error-message {
    font-size: 18px;
    line-height: 1.4;
    margin: 0 0 60px;
    max-width: 280px;
    margin-left: auto;
    margin-right: auto;
  }

  .error404link {
    font-size: 14px;
    text-underline-offset: 3px;
    margin: 0 0 80px;
  }
}