@import "../base/variables";

header {
  background: $color-bg;
}
.header-container {
  height: $header-height;
  display: flex;
  align-items: center;
  justify-content: space-between;

  max-width: $container-width;
  margin: 0 auto;
  padding-left: $container-padding;
  padding-right: $container-padding;
}

.header-logo {
  display: block;
  height: 48px;               // ajuste pour matcher l’overlay
}

.header-nav {
  display: flex;
  align-items: center;
  gap: 57px;                  // espace entre "Accueil" et "À propos"
  a {
    font-weight: 500;
    text-decoration: none;
    color: $color-text;
    &.active { text-decoration: underline; }
  }
}