@import "../base/variables";

.header-container {
  max-width: 1240px;
  margin: 40px auto 50px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;

  @media (max-width: 800px) {
    flex-direction: column;
    gap: 30px;
    margin: 20px 0;
    padding: 0 10px;
  }
}

.header-logo {
  height: 68px;
  @media (max-width: 800px) {
    height: 46px;
  }
}

.header-nav {
  display: flex;
  gap: 50px;
  font-size: 1.1rem;

  @media (max-width: 600px) {
    gap: 20px;
    font-size: 0.98rem;
  }

  a {
    color: $text-color;
    font-weight: 500;
    text-decoration: none;
    position: relative;
    letter-spacing: 0.02em;
    transition: color 0.18s;

    &:hover,
    &.active,
    &[aria-current="page"] {
      text-decoration: underline;
      text-underline-offset: 7px;
      color: darken($text-color, 7%);
    }
  }
}
