@import "../base/variables";

.host {
  display: flex;
  align-items: center;
  gap: 10px;
}

.host-name {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  line-height: 1.2;
  font-weight: 500;
  color: $primary-color;
}

.first-name,
.last-name {
  font-size: 18px;
}

.host-picture {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  object-fit: cover;
}
